.App {
  text-align: center;
}

*{
  background-color: red    }
  h1{
    color: blueviolet;
  
  font-size: 60px;
  }
  img{
    border-radius: 50%;
    width: 400px;
    height: 480px;    }
    .introduction{
      display: flex;
      justify-content: space-evenly;     }